@import "element.scss";
@mixin pagebg($img){
  background: url(../images/#{$img}) no-repeat;
}
html,body{height: 100%;color: #585858;}
.login-page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include pagebg("login_bg.jpg");
    background-position: center center; 
    position: relative;
    .login-box{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 560px;
        height: 400px;
        margin: -200px 0 0 -280px;
        @include pagebg("loginbox_bg.jpg");
        background-color:#efefef;
        background-position: center bottom;
        border-radius: 4px;
        -webkit-box-shadow:0 0 10px #92b1db;  
        -moz-box-shadow:0 0 10px #92b1db;  
         box-shadow:0 0 10px #92b1db;
         h2{
            margin-top: 40px;
            text-align: center;
            font-size: 32px;
            @include pagebg("login_seg.png");
            background-repeat: repeat-x;
            background-position: left bottom;
            padding-bottom: 30px;
         }
         .simi-logo{
            width: 160px;
            height: 165px;
            display: inline-block;
            @include pagebg("similogo2.png");
            position: absolute;
            bottom: -5px;
            right: -100px;
         }
        .login-input{
            padding: 30px 60px 0;
            .inputbox{
                background: #fff;
                height: 48px;
                line-height: 48px;
                border-radius: 4px;
                overflow: hidden;
                .loginico{
                    float: left;
                    height: 25px;
                    width: 38px;
                    border-right: 1px solid #ddd;
                    margin-top: 12px;
                    @include pagebg("login_icon.gif");
                    background-position: 0 0;
                    margin-left: 20px;
                }
                .input{
                    overflow: hidden;
                    padding: 0 20px;
                    position: relative;
                    span{
                        color: #ccc;
                        position: absolute;
                        top: 0;
                        left: 20px;
                    }
                    input{
                        width: 100%;
                        height: 46px;
                        line-height: 48px;
                        border:none;
                        color: #585858;
                        font-size: 18px;
                    }
                }
            }
            .upsw{
                margin-top: 20px;
                .loginico{
                    background-position: 0 -40px;
                }
            }
            .input-btn{
                margin-top: 30px;
                height: 48px;
                line-height: 48px;
                position: relative;
                text-align: right;
                .loginbtn{
                    position: absolute;
                    left: 0;
                    top: 0;
                    @extend %btn-ok;
                }
                .login-link{
                    padding-right: 10px;
                    a{
                        margin-right: 10px;
                        color: #585858;
                        font-size: 16px;
                    }
                    .register{
                        border-right: 1px solid #ccc;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

.login-wrap{
    background: #efefef;
    overflow: hidden;
    height: 100%;
    padding: 0 20px;
    .login-con{
        padding: 20px;
        margin: 20px 0;
        border-radius: 5px;
        background: #fff;
        min-height: 640px;
    }
    .registerbox{
        width: 600px;
        margin: 20px auto 0;
        h2{
            border-bottom: 2px solid #94a2c0;
            padding-bottom: 10px;
            font-size: 18px;
            color: #4a5980;
        }
    }
    .reg-mail{
        padding-left: 0;
        .reg-btn-ok{
            margin-right: 20px;
        }
    }
    .reg-verify{
        @include pagebg("login_bg.gif");
        background-color: #fff;
        background-position: center 65%;        
        .verify-box{
            width: 350px;
            margin: 100px auto 0;
            @include pagebg("similogo2.png");
            padding: 40px 0 0 160px;
            min-height: 165px;
            .ver-succ{
                color: #53a924;
                font-size: 24px;
                line-height: 28px;
            }
            .ver-load,.ver-num{
                margin-top: 20px;
                color: #999;
                font-size: 16px;
            }
            .reg-sub{
                padding-left: 0;
                margin-top: 20px;
            }
            .ver-tel{
                font-size: 24px;
                color: #ff6526;
            }
            .ver-num{
                margin-top: 10px;
            }
        }
        .verphone{
            width: 450px;
            .reg-btn{
                margin-right: 20px;
            }
            .reg-btn-ok{
                margin-right: 0;
            }
        }
    }
    .ver-code{
        margin-top: 20px;
        border:1px solid #dedede;
        height: 30px;
        line-height: 30px;
        width: 100px;
        padding:0 35px 0 3px;
        overflow: hidden;
        position: relative;
        input{
            width: 100%;
            border:none;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        span{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 15px;
            height: 11px;
            overflow: hidden;
            display: inline-block;
            @include pagebg("login_icon.gif");
            background-position: 0 -75px;
        }
    }
}
.reg-box{
    margin-top: 40px;
    .reg-item{
        margin-top: 15px;
        label{
            float: left;
            width: 90px;
            font-size: 18px;
            height: 48px;
            line-height: 48px;
        }
        .reg-input{
            overflow: hidden;
            border:1px solid #dedede;
            background: #fdfdfd;
            padding: 0 20px;
            font-size: 18px;
            position: relative;
            input{
                width: 100%;
                border: none;
                color: #585858;
                height: 46px;
                line-height: 46px;
            }
            .holder{
                color: #ccc;
                position: absolute;
                top: 14px;
                left: 20px;
            }
        }
        .phone-num{
            height: 46px;
            line-height: 46px;
            background: #eee;
            border-color: #eee;
        }
        .ver-mail{
            border: none;
            color: #999;
            font-size: 16px;
            padding: 0;
        }
        .reg-input-w{
            border-color: #ff6526;
            .holder{
                color: #ff6526;
            }
        }
        .sel-box{
            width: 200px;
            overflow: hidden;
            display: inline-block;
            @extend %select;
        }
    }
    .reg-ind{
        label{
            height: 32px;
            line-height: 32px; 
        }
        .vcode{
            overflow: hidden;
            height: 32px;
            line-height: 32px; 
            input{
                width: 148px;
                height: 30px;
                padding: 0 5px;
                line-height: 30px;
                border:1px solid #dedede;
                background-color: #fdfdfd;
                vertical-align: top;
                text-align: center;
            }
            .vcimg{
                width: 98px;
                height: 30px;
                border:1px solid #dedede;
                margin-left: 10px;
                display: inline-block;
            }
            a{
                margin-left: 10px;
                color: #999;
            }
        }
        .vc-input{
            margin-top: 0;
            display: inline-block;
        }
        .send-vc{
            vertical-align: top;
            padding: 0 35px;
            @extend %btn;
            margin-left: 10px;
        }
    }
}
.reg-sub{
    margin-top: 30px;
    padding-left: 90px;
    .reg-btn{
        @extend %btn-orange;
    }
    .reg-btn-ok{
        @extend %btn-ok;
    }
}
.basic-info{
    width: 590px;
    margin-top: 30px;
    padding-bottom: 100px;
    .reg-sub .reg-btn-edit{
        @extend %btn;
        height: 48px;
        line-height: 48px;
        padding: 0;
    }
    .reg-sub .reg-btn-ok{
        @extend %btn-ok;
        margin-right: 10px;
    }
    .reg-ind {
        label{
            float: left;
        }
        .sel-box{
            float: left;
        }
        .scale{
            width: auto;
            margin: 0 20px 0 40px;
        }
        .town{
            margin-left: 20px;
            width: 275px;
        }
    }
}
